@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "Poppins", sans-serif;
}
body{
    overflow-x: hidden;
}
a{
    color: #eee ;
}
header{
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(53,10,79,.7),rgba(53, 10 , 79 ,.5)) , url("bg.jpg") , center no-repeat;
    background-size: cover;
}
.contianer{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}
nav{
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.3rem;
    
}
.text{
    transform: translateX(-100rem);
    animation: slideIn 1.5s forwards;
}
.brand{
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 3px;
    transform: translateX(-100rem);
    animation: slideIn .7s forwards;
}
.brand span{
    color: #fa9e2c;
    font-size: 3.7rem;
}
nav ul{
    display: flex;
}
nav ul li{
    transform: translateX(100rem);
    animation: slideIn .8s forwards;
}
nav ul li:nth-child(1) {
    animation-delay: 0s;
}
nav ul li:nth-child(2) {
    animation-delay: 0.5s;
}
nav ul li:nth-child(3) {
    animation-delay: 1s;
}
nav ul li:nth-child(4) {
    animation-delay: 1.5s;
}
nav ul li:nth-child(5) {
    animation-delay: 2s;
}
nav ul li:nth-child(6)  {
    animation-delay: 2.5s;
}
nav ul li a{
    padding: 1rem 0;
    margin: 0 2rem;
    position: relative;
    letter-spacing: 2px;
}
nav ul li a:last-child{
    margin-right: 0;
}
nav ul li a::before,
nav ul li a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fa9e2c;
    left: 0;
    transform: scaleX(0);
    transition: all .5s;
}
nav ul li a::before{
    top:0;
    transform-origin: right;
}
nav ul li a::after{
    bottom: 0;
    transform-origin: left;
}
nav ul li a:hover::before,
nav ul li a:hover::after{
    transform: scaleX(1);
}
@keyframes slideIn{
    from{

    }
    to{
        transform: translateX(0);
    }
}
.hero{
    height: 300px; 
    position: absolute;
    align-items: center;
    left: 50%;
    top: 47%;
}
.main-heading{
    color: #fff;
    line-height: 1;
    text-shadow: 1px 1px 1rem rgba(0,0,0,0.5);
    margin-bottom: 2.5rem;
}
.title{
    font-size: 2.9rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.house{
    font-size: 2.7rem;
    font-weight: 300;
    font-family: 'Courgette';
}
.btn{
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: .5rem 3.5rem;
    border : none;
    border-radius: 10rem;
    display: inline-flex;
    align-items: center;
}
.btn-now{
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 5px 0px 20px 0px;
    width: 120px;
    padding: 10px 5px;
    border : none;
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.btn-gradient-now{
    background-image: linear-gradient(to right,#fa9e2c,#8f50fb);
}
.btn-gradient-now:hover{
    background-image: linear-gradient(to right,#8f50fb,#fa9e2c);
}
.btn-gradient{
    background-image: linear-gradient(to right,#fa9e2c,#8f50fb);
}
.btn-gradient:hover{
    background-image: linear-gradient(to right,#8f50fb,#fa9e2c);
}
.booking{
    background-image: linear-gradient(to right,#fa9e2c,#8f50fb);
    height: 450px;
    display: flex;
    border-radius: 15px;
}
.pic{
    margin-left: 700px;
    border-radius: 15px;
    margin-top: 20px;
    width: 550;
    height: 400;
}
.btn1{
    margin-top: 360px;
    margin-left: -330px;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    border: none;
    color: #fff;
}
.min{
    width: 40%;
    height: 400px;
    border-radius: 13px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-image: linear-gradient(to right,#8f50fb,#fa9e2c);
    margin-left: 50px;
    display: block;
    position:absolute;
    padding: 20px;
    margin-top: 20px;
}
.input-grp{
    margin-bottom: 1.5rem;
}
.input-label{
    display: inline-block;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    margin-bottom: 0rem;
}
.input,
.option{
    outline: none;
    border: none;
    width: 100%;
    min-height: 1.5rem;
    padding: 1rem;
}
.form-btn{
    margin-top: 2.5rem;
    cursor: pointer;
}
.btn-purple{
    background-color: #350a4f;
}
.btn-purple:hover{
    background-color: #fa9e2c;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin: 50px 0px;
}
h2{
    padding-top: 2px;
}
.card{
    width: 24%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 18px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: .4s;
}
.card p{
    padding: 1rem;
}
.card-p1:hover{
    box-shadow: -12px 18px 8px  rgba(0, 0, 0, 0.15);
    transition: .9s;
    transform: translate(0px , -20px);
}
.card-p2:hover{
    box-shadow: 1px 15px 1px  rgba(0, 0, 0, 0.125);
    transition: .8s;
    transform: translate(0px , -20px);
}
.card-p3:hover{
    box-shadow: 12px 18px 8px  rgba(0, 0, 0, 0.15);
    transition: .8s;
    transform: translate(0px , -20px);
}
img{
    
    border-radius: 20px;
    text-align: center;
}
h6{
    font-size: 30px;
    text-align: left;
    color: #8f50fb;
    padding: 15px;
    font-weight: 800;
}
.card ul{
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 15px;
}
.card .price{
    font-size: 22px;
    display: flex;
    justify-content: center;
}
.card li{
    padding-top: 5px;
}
.card .fa{
    font-size: 22px;
    margin: 3px;
    transition: .4s;
}
.card .checked{
    color: #fa9e2c;
}
.section-head{
    text-align: center;
    margin-bottom: 5rem;
}
.heading{
    display: block;
    font-size: 4rem;
    text-transform: uppercase;
}
.sub-head{
    font-size: 1.7rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
    color: #a5a5a5;
}
.contact-content{
    display: flex;
    justify-content: center;
}
.traveler-wrap{
    display: block;
}
.contact-form{
    border-radius: 15px;
    width: 100%;
    background-image: linear-gradient(to right,#fa9e2c,#8f50fb);
    padding: 2.5rem;
    margin-bottom: 1.3rem;
    margin-right: 1.1rem;
}
.contact-form .input{
    display: block;
    background-color: transparent;
    color: #fff;
    font-weight: normal;
    border-bottom: 2px solid #fff;
    padding-left: 0;
}
.bar{
    display: block;
    position: relative;
}
.bar::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #8f50fb;
    transform: scaleX(0);
    transition: transform .5s;
}
.contact-form .input:focus + .bar::after{
    transform: scaleX(1);
}
footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #350a4f;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .foot{
    display: flex;
    flex-direction: row;
}
footer .foot .sec{
    margin-right: 30px;

}
footer .foot .sec.aboutus{
    width: 40%;
}
footer .foot .sec.aboutus h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
footer .foot  h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #fa9e2c;
}
footer p{
    color: #fff;
}
.sci{
    justify-content: left;
    margin-top: 200px;
    margin-left: -450px;
    display: flex;
}
.sci li a{
    display: inline-block;
    display: flex;
    width: 40px;
    height: 40px;
    background: #8f50fb;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}
.sci a:hover{
    background: #fa9e2c;
}
 a .fa{
    color: #fff;
    font-size: 30px;
}
.quick{
    position: absolute;
    width: 25%;
    margin-left: 500px;
}
.quick ul li {
    color: #fa9e2c;
    text-decoration: none;
    display: block;
    
}
.base{
    margin-top: -0px;
    margin-left: 30px;
    display: block;
}
.qick-head{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
.qick-head::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #fa9e2c;
}
.base li{
    padding: 3px;
}
.base li a{
    letter-spacing: 1px;
    
}
.base li a:hover{
    color: #fa9e2c;

}