@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Nunito:ital,wght@0,600;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

/* ===================================================== */
.css-dw23{
    padding-top: 62px;
    min-width: 0;
    flex-direction: column;
    align-items: center;
    display: flex;
}
.css-box{
    min-width: 0;
    border-radius: 10px;
    width: 95%;
    margin-bottom: 32px;
    margin-top: 64px;
    flex-direction: column;
    background-color: #EDEFFE;
    margin-left: 58px;
    margin-right: 58px;
    display: flex;
}

.css-rty{
    min-width: 0;
    width: 100%;
    margin: 0px 20px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}
.css-text{
        flex-direction: column;
        max-width: 500px;
        padding-top: 100px;
        padding-bottom: 100px;
        display: flex;
}
.css-head{
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    color: #003847;
    margin-bottom: 36px;
    line-height: 48px;
}
.css-btn{
    margin-bottom: 32px;
    display: flex;
    justify-content: flex-start;

}
.css-htn{
    width: 130px;
    padding: 9px;
    text-align: center;
    background-color: transparent;
    border-radius: 7px;
    border: 4px solid #003847;
    color: #003847;
    font-weight: 700;
    letter-spacing: 0.6px;
}
.css-img img{
    height: 350px;
}
.css-min{
    transform: translateY(-75px);
    border-radius: 6px;
    box-shadow: 0px 17.7515px 47.3372px rgb(22 27 45 / 10%);
    border-bottom-color: #02227a;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    z-index: 5;
    width: 480px;
    height: 80px;
    background-color: #ffffff;
    display: flex;
}
.css-ca{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.css-h2{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2rem;
}
#about {
    padding: 3rem 0rem;
    background-color: whitesmoke;
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
}

.about-head {
    display: flex;
    justify-content: space-evenly;
    width: 300px
}

.st-line {
    width: 5px;
    height: 68px;
    background-color: #003847;
    border-radius: 3px;
}

.about-head p {
    text-align: left;
    font-size: 1.7rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #027a60;
    margin-top: -4px;
    margin-left: 10px;
}

.about-us-area {
    margin: 20px;
    padding: 3rem 2rem 3rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #fff;
    border-radius: 9px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.about-title {
    font-size: 2.2rem;
    color: #003847;
    text-transform: uppercase;
}

.about-matter p {
    margin-bottom: 20px;
}

.about-m {
    width: 60%;
}

.our-service {
    background: #fff;
    width: calc(100% - 100px);
    padding-top: 25px;
    margin-bottom: 2rem;
    display: block;
    margin: 0 auto;
}

.set-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.set-head h1 {
    text-transform: capitalize;
    font-size: 2.5rem;
    color: black;
    font-weight: 700;
}

.line-hd1 {
    margin: 10px;
    width: 100px;
    height: 4px;
    border-radius: 2px;
    background-color: #027a60;
}

.service-provided {
    width: 100%;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 2rem;
}

.grid-area {
    margin: 40px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.ser-card :hover{
    color: #003847;
}
.ser-card {
    width: 310px;
    height: 350px;
    overflow: hidden;
    background: white;
    border-radius: 20px;
    padding: 1.2rem;
    display: block;
    margin: 0px auto;
    transition: all 0.3s;
}
.ser-card i {
    display: block;
    margin: 10px auto;
    font-size: 3.2rem;
    text-align: center;
}
/* .ser-card i:hover{
    color: #02227a;
} */
.ser-card h2 {
    text-transform: capitalize;
    text-align: center;
    margin: 10px auto;
}

.ser-card p {
    text-align: center;
}
.ser-card:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;


}
/* MOBILE VIEW */
/* NAV BAR */
.mobile-hamburger {
    display: none;
    align-items: center;
}

.overlay {
    display: none;
    height: 600px;
    width: 0%;
    margin-top: 70px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255);
    overflow-x: hidden;
    transition: 0.7s;
}
.blocker {
    position: fixed;
    top: 0px;
    left:0 ;
    bottom: 0;
    margin-top: 70px;
    margin-left: 150px;
    right: 0;
    content: ' ';
    background: rgba(0,0,0,0);
}
 .css-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-weight: 500;
    font-size: 20px;
    padding: 1rem 0rem;
    border-bottom: 1px solid #f0f0f0;
    text-transform: uppercase;
    letter-spacing: 0.3px;
}

.overlay .css-ht4{
    padding: 10px;
    background-color: #003847;
    border-radius: 7px;
    color: #fff;
    text-align: center;
    font-weight: 400;
    margin-top: 15px;
}


.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 10px;
    font-weight: 500;
    color: #003847;
    margin: 5px 15px;
    display: block;
    transition: 0.3s all ease-in;
}

.overlay a:hover {
    color: #fff;
    background-color: #003847;
}
@media screen and (max-width: 450px) {
    .mobile-hamburger {
        display: flex;
    }
    
    .css-dw23{
        padding-top: 32px;
    }
    .css-min{
        width: 300px;
    }
    .css-btn{
        justify-content: center;
    }
    .css-h2{
        font-size: 1.2rem;
    }
    .css-rty{
        width:80%;
    }
    .css-box{
        margin-left: auto;
        margin-right: auto;
    }
    .overlay a {
        font-size: 20px;
    }
   
    
    .image-area {
        height: 550px;
    }

    .image-slide h4 {
        font-size: 2rem;
    }
    .set-head h1{
        font-size: 2rem;
    }
    .about-head {
        width: 250px;
    }

    .about-m {
        width: 100%;
    }

    .grid-area {
        grid-template-columns: 1fr;
    }

    .about-us-area {
        flex-direction: column;
    }
}